  {% load static %}
  <nav class="navbar navbar-dark navbar-expand-md bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand m-0 p-0" href="{% url 'books:index' %}">
        <img src="{% static 'images/logo.jpg' %}" alt="Logo Image" width="50em">
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'books:index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'books:create' %}">NEW BOOK</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Community</a>
          </li>
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:update' %}">회원정보수정</a>
            </li>
            <li class="nav-item">
              <form action="{% url 'accounts:logout' %}" method='POST'>
                {% csrf_token %}
                <button class='btn btn-dark'>Logout</button>
                {% comment %} <input type="submit" value='Logout' class=''> {% endcomment %}
              </form>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
              {% comment %} <a class="nav-link" href="{% url 'accounts:login' %}" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</a> {% endcomment %}
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:signup' %}">Signup</a>
            </li>
          {% endif %}
          
        </ul>
      </div>
    </div>
  </nav>

  {% comment %} <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
   {% endcomment %}
  <footer class="d-flex justify-content-center align-items-center fixed-bottom">
    <p class = "p-0">Django Personal PJT, by kwpark</p>
  </footer>